/* 
    Created on : 18 août 2015, 13:19:33
    Author     : Philippe Poisse
*/


* {
    padding: 0;
    margin: 0;
}


#map {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
}